body {
    background-color: rgba(119, 235, 255, 0.541);
    margin: 0;
}

.container {
    max-width: 300px;
    background-color: aliceblue;
    margin: 20vh auto;
    box-shadow: 0px 0px 50px 10px gray;
    border-radius: 4px;
}

.all_buttons {
    display: grid;
    padding: 8px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    border: 1px solid gray;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.display_part {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

#equal_button {
    background-color: aqua;

}

.button:hover {
    background-color: greenyellow;
    color: fuchsia;
    transition: 0.5s ease-in-out;
}